<%- include('layouts/header') %>
<link rel="stylesheet" href="/layouts/main.css">
<%- include('layouts/navbar') %>
<span></span>
<hr>
<div class="container-fluid fixed">
    <form action="" class="row" id="wildCard" onchange="eventForm(event)">
      <label  class="col-4 col-sm-1 col-md-3" for="spaceTick">
        <input type="checkbox" id="spaceTick" >Work Info
      </label>
      <label  class="col-4 col-sm-1 col-md-3" for="annualTick" onchange="eventForm(event)">
  
        <input type="checkbox" id="annualTick">Annual
      </label>
      <label  class="col-4 col-sm-1 col-md-3" for ="checkInTick" onchange="eventForm(event)">
        <input type="checkbox" id="checkInTick">Salary
      </label>
      <button type="button" onclick="buttonClick()">Click Here</button>
        </form>
  <hr>

    <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist" >
      <% 
      const tabName = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
      const getToDate = new Date()
      const getMonthOfToDate = getToDate.getMonth()
      for(let i = 0; i< tabName.length; i++){
        if(i!==getMonthOfToDate){
          %>
    <p class="nav-link" id="<%=tabName[i]%>-tab" data-bs-toggle="tab" data-bs-target="#<%=tabName[i]%>" type="a" role="tab" aria-controls="<%=tabName[i]%>" aria-selected="false" onchange="eventForm(event)"><%=tabName[i]%></p>
    
    <% } else { %>
      <p class="nav-link active" id="<%=tabName[i]%>-tab" data-bs-toggle="tab" data-bs-target="#<%=tabName[i]%>" type="p" role="tab" aria-controls="<%=tabName[i]%>" aria-selected="true" onchange="eventForm(event)"><%=tabName[i]%>
        </p>
      <% } }  %>
  </div>
  </nav>

  <%//Header%>
    <table class="tab-content row" id="nav-tabContent" >
      <tr class="row">
      <th class="col-sm-12 col-md-2">Date</th>
      <th class="col-sm-12 col-md-2">Check In</th>
      <th class="col-sm-12 col-md-2">Check Out</th>
      <th class="col-sm-12 col-md-1">Space</th>
      <th class="col-sm-12 col-md-2">TimeCount</th>
      <th class="col-sm-12 col-md-2">Over Time</th>
      <th class="col-sm-12 col-md-1">Annual Register</th>
      </tr>
  <%//Header%>


    <%  for(let i = 0; i< tabName.length; i++){ //for 1
      if (i!==getMonthOfToDate){ %>
        <tbody class="tab-pane fade" id="<%=tabName[i]%>" role="tabpanel" aria-labelledby="<%=tabName[i]%>-tab">
          <tr class="row">
            <%//Check in %>
            <% workHistories.forEach(workHistory=>{
              let x = new Date(workHistory.date)
              if ((x.getMonth()) === i) {
              %>
              <th class="col-sm-12 col-md-2"><%=workHistory.date%></th>
              <td class="col-sm-12 col-md-2">
              <% if (workHistory.workHis.length === 0){
                %>
                ---
                <%
              } else {
                %>
                <%workHistory.workHis.forEach(workLog=>{
                  let checkinTime = workLog.checkin.getHours() + ":" + workLog.checkin.getMinutes()%>
                  <%=checkinTime%>
                  <br>
                  <%})
              }%>
            </td>
            <%//Check in %>
            <%//Check out %>
            <td class="col-sm-12 col-md-2">
              <% if (workHistory.workHis.length === 0){
                %>
                ---
                <%
              } else {
                workHistory.workHis.forEach(workLog=>{
                  if (workLog.checkout === null){
                    let checkoutTime = 'Chưa kết thúc'%>
                    <%=checkoutTime%>
                  <%
                  } else {
                  let checkoutTime = workLog.checkout.getHours() + ":" + workLog.checkout.getMinutes()%>
                  <%=checkoutTime%>
                  <br>
                  <%}
              })}%>
            </td>
            <%//Check out %>
            <%//Space %>
            <td class="col-sm-12 col-md-1">
              <% if (workHistory.workHis.length === 0){
                %>
                ---
                <%
              } else {
                workHistory.workHis.forEach(workLog=>{%>
                  <%=workLog.Space%>
                  <br>

                <% })}%>
            </td>
            <%//Space %>
            <%//time complete in day %>
            <td class="col-sm-12 col-md-2">
              <% 
              let subTime = 0;
              let timeCount = new String;
              workHistory.workHis.forEach(workLog=>{
                subTime+=workLog.checkout - workLog.checkin
                })
                timeCount = Math.floor((subTime / (1000 * 60 * 60)) % 24)  + ":" +  Math.floor((subTime / (1000 * 60)) % 60)%>
                <%=timeCount%>
            </td>
            <%//time complete in day %>
            <%//overTime in day %>
            <td class="col-sm-12 col-md-2">
              <% let overTime = new String;
             if (subTime < 8*3600*1000){
              overTime = 0
             } else {
              overTime = Math.floor(((subTime - 8*3600*1000) / (1000 * 60 * 60)) % 24)  + ":" +  Math.floor(((subTime-8*3600*1000)/(1000*60))%60)
             }%>
             <%=overTime%>
            </td>
            <%//overTime in day %>
            <%//Annual %>
            <td class="col-sm-12 col-md-1">
                <%=workHistory.annual/8%>
            </td>
            <%//Annual %>
        <%}})%>
        <tr class="row">
  <th class="col-sm-12 col-md-6 bg-success"> complete time </th>
  <td class="col-sm-12 col-md-6 bg-success">
  <%
  let completeTimeInMonth = 0
  console.log(workHistories)
  workHistories.forEach(workHistory=>{
          let x = new Date(workHistory.date)
              if ((x.getMonth()) === i) { 
                workHistory.workHis.forEach(workLog=>{
                  if(workLog.checkout === null){
                    completeTimeInMonth +=0
                  }
                  else{
                  completeTimeInMonth += workLog.checkout - workLog.checkin
                }
              })
              completeTimeInMonth += workHistory.annual*3600*1000
              }})%>
              <%=Math.floor(completeTimeInMonth / (1000 * 60 * 60))  + ":" +  Math.floor(completeTimeInMonth%60)%>
              </td>
  </tr>
  <tr class="row">
    <th class="col-sm-12 col-md-6 bg-warning"> incomplete time = (8*30 - complete time)</th>
    <td class="col-sm-12 col-md-6 bg-warning">
      <% let inCompleteTimeInMonth = 8*30*3600*1000 - completeTimeInMonth %>
      <%=Math.floor(inCompleteTimeInMonth / (1000 * 60 * 60))  + ":" +  Math.floor(inCompleteTimeInMonth%60)%>

      </td>
    </tr>
    <tr class="row">
    <th class="col-sm-12 col-md-6 bg-info bg-gradient"> Salary</th>
    <td class="col-sm-12 col-md-6 bg-info bg-gradient">
      <%=Math.floor(user.salaryScale *3000000 - (inCompleteTimeInMonth/(1000*3600)) * 200000) + '   VND'%>

      </td>
    </tr>
            </tr>
        <% } else { %>
        <tbody class="tab-pane fade show active" id="<%=tabName[i]%>" role="tabpanel" aria-labelledby="<%=tabName[i]%>-tab">
          <tr class="row">

<%//Check in %>
<% workHistories.forEach(workHistory=>{
  let x = new Date(workHistory.date)
              if ((x.getMonth()) === i) {%>
  <th class="col-sm-12 col-md-2"><%=workHistory.date%></th>
  <td class="col-sm-12 col-md-2">
  <% if (workHistory.workHis.length === 0){
    %>
    ---
    <%
  } else {
    %>
    <%workHistory.workHis.forEach(workLog=>{
      let checkinTime = workLog.checkin.getHours() + ":" + workLog.checkin.getMinutes()%>
      <%=checkinTime%>
      <br>
      <%})
  }%>
</td>
<%//Check in %>
<%//Check out %>
<td class="col-sm-12 col-md-2">
  <% if (workHistory.workHis.length === 0){
    %>
    ---
    <%
  } else {
    workHistory.workHis.forEach(workLog=>{
      if (workLog.checkout === null){
        let checkoutTime = 'Chưa kết thúc'%>
        <%=checkoutTime%>
      <%
      } else {
      let checkoutTime = workLog.checkout.getHours() + ":" + workLog.checkout.getMinutes()%>
      <%=checkoutTime%>
      <br>
      <%}
  })}%>
</td>
<%//Check out %>
<%//Space %>
            <td class="col-sm-12 col-md-1">
              <% if (workHistory.workHis.length === 0){
                %>
                ---
                <%
              } else {
                workHistory.workHis.forEach(workLog=>{%>
                  <%=workLog.Space%>
                  <br>

                <% })}%>
            </td>
            <%//Space %>
<%//time complete in day %>
<td class="col-sm-12 col-md-2">
  <% 
  let subTime = 0;
  let timeCount = new String;
  workHistory.workHis.forEach(workLog=>{
    if(workLog.checkout === null){
      timeCount = 'Chưa kết thúc'
    }
    else {
      subTime+=workLog.checkout - workLog.checkin
      timeCount = Math.floor((subTime / (1000 * 60 * 60)) % 24)  + ":" +  Math.floor((subTime / (1000 * 60)) % 60)
    }
    })
    %>
    <%=timeCount%>
</td>
<%//time complete in day %>
<%//overTime in day %>
<td class="col-sm-12 col-md-2">
  <% let overTime = new String;
 if (subTime < 8*3600*1000){
  overTime = 0
 } else {
  overTime = Math.floor(((subTime - 8*3600*1000) / (1000 * 60 * 60)) % 24)  + ":" +  Math.floor(((subTime-8*3600*1000)/(1000*60))%60)
 }%>
 <%=overTime%>
</td>
<%//overTime in day %>
<%//Annual %>
<td class="col-sm-12 col-md-1">
    <%=workHistory.annual/8%>
</td>
<%//Annual %>
<%}})%>
<tr class="row">
  <th class="col-sm-12 col-md-6 bg-success"> complete time </th>
  <td class="col-sm-12 col-md-6 bg-success">
  <%
  let completeTimeInMonth = 0
  console.log(workHistories)
  workHistories.forEach(workHistory=>{
          let x = new Date(workHistory.date)
              if ((x.getMonth()) === i) { 
                workHistory.workHis.forEach(workLog=>{
                  if(workLog.checkout === null){
                    completeTimeInMonth +=0
                  }
                  else{
                  completeTimeInMonth += workLog.checkout - workLog.checkin
                }
              })
              completeTimeInMonth += workHistory.annual*3600*1000
              }})%>
              <%=Math.floor(completeTimeInMonth / (1000 * 60 * 60))  + ":" +  Math.floor(completeTimeInMonth%60)%>
              </td>
  </tr>
  <tr class="row">
    <th class="col-sm-12 col-md-6 bg-warning"> incomplete time = (8*30 - complete time)</th>
    <td class="col-sm-12 col-md-6 bg-warning">
      <% let inCompleteTimeInMonth = 8*30*3600*1000 - completeTimeInMonth %>
      <%=Math.floor(inCompleteTimeInMonth / (1000 * 60 * 60))  + ":" +  Math.floor(inCompleteTimeInMonth%60)%>

      </td>
    </tr>
    <tr class="row">
    <th class="col-sm-12 col-md-6 bg-info bg-gradient"> Salary</th>
    <td class="col-sm-12 col-md-6 bg-info bg-gradient">
      <%=Math.floor(user.salaryScale *3000000 - (inCompleteTimeInMonth/(1000*3600)) * 200000) + '   VND'%>

      </td>
    </tr>
</tr>
      <%}
      // loop for day of month default
    }%>
    </tbody>

  </table>
</div>


  <script>

 
  </script>
 
    

<%- include('layouts/footer') %>


