<%- include('layouts/header') %>
<link rel="stylesheet" href="/layouts/main.css">
<%- include('layouts/navbar') %>
<span></span>
<hr>
<div class="container-fluid">
    <form action="" class="row" id="wildCard" onchange="eventForm(event)">
      <label  class="col-4 col-sm-1 col-md-3" for="spaceTick">
        <input type="checkbox" id="spaceTick" >Work Info
      </label>
      <label  class="col-4 col-sm-1 col-md-3" for="annualTick" onchange="eventForm(event)">
  
        <input type="checkbox" id="annualTick">Annual
      </label>
      <label  class="col-4 col-sm-1 col-md-3" for ="checkInTick" onchange="eventForm(event)">
        <input type="checkbox" id="checkInTick">Salary
      </label>
      <button type="button" onclick="buttonClick()">Click Here</button>
        </form>
  <hr>

    <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist" >
      <% 
      const tabName = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
      const getToDate = new Date()
      const getMonthOfToDate = getToDate.getMonth()
      for(let i = 0; i< tabName.length; i++){
        if(i!==getMonthOfToDate){
          %>
    <p class="nav-link" id="<%=tabName[i]%>-tab" data-bs-toggle="tab" data-bs-target="#<%=tabName[i]%>" type="a" role="tab" aria-controls="<%=tabName[i]%>" aria-selected="false" onchange="eventForm(event)"><%=tabName[i]%></p>
    
    <% } else { %>
      <p class="nav-link active" id="<%=tabName[i]%>-tab" data-bs-toggle="tab" data-bs-target="#<%=tabName[i]%>" type="p" role="tab" aria-controls="<%=tabName[i]%>" aria-selected="true" onchange="eventForm(event)"><%=tabName[i]%>
        </p>
      <% } }  %>
  </div>
  </nav>
<div>
  <%// create calendar %>
  <%
  let days = [];
  let months = [];
  const days2022 = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
  const actual = days2022.map(
      (day, index) =>{
         //fix here
         let date = new Date(Date.UTC(2022, index, 1));
                 while (date.getUTCMonth() === index) {
                         days.push(new Date(date));
                             date.setUTCDate(date.getUTCDate() + 1);
                          }
         months.push(days)
         days = []
      } 
  );
  %>
  </div>
  <%//create calendar%>

  <%// create temp array to input table %>
  <div>
      <% const temp=[];
      let temp1=[]
      for (let i = 0; i < user.progress.workHistory.length - 1; i++){ 
        if(user.progress.workHistory[i+1].checkin.toDateString().replace(/^\S+\s/,'') === user.progress.workHistory[i].checkin.toDateString().replace(/^\S+\s/,'')){
          temp1.push(user.progress.workHistory[i])
        }
        else{
          temp1.push(user.progress.workHistory[i])
          temp.push(temp1)
          temp1=[]
        }
      }
      if (user.progress.workHistory[user.progress.workHistory.length-1].checkin.toDateString().replace(/^\S+\s/,'') === user.progress.workHistory[user.progress.workHistory.length-2].checkin.toDateString().replace(/^\S+\s/,'')){
        temp1.push(user.progress.workHistory[user.progress.workHistory.length-1])
      }
      else{
        
        temp1=[user.progress.workHistory[user.progress.workHistory.length-1]]
      }
      temp.push(temp1)
      %>
      </div>
  <%// create temp array to input table %>
  <%//Header%>
    <table class="tab-content row" id="nav-tabContent" >
      <tr class="row">
      <th class="col-sm-12 col-md-3">Date</th>
      <th class="col-sm-12 col-md-2">Check In</th>
      <th class="col-sm-12 col-md-2">Check Out</th>
      <th class="col-sm-12 col-md-2">TimeCount</th>
      <th class="col-sm-12 col-md-2">Over Time</th>
      <th class="col-sm-12 col-md-1">Annual Register</th>
      </tr>
  <%//Header%>

  <%// loop for months of year and create paggine name from tabName Variable %>
    <%  for(let i = 0; i< tabName.length; i++){ //for 1
      if (i!==getMonthOfToDate){ %>
        <tbody class="tab-pane fade" id="<%=tabName[i]%>" role="tabpanel" aria-labelledby="<%=tabName[i]%>-tab">
          <%// loop for day of month non-default%>
          <% for(let j=0; j<months[i].length; j++){ //for 2
          %>
          <tr class="row">
                     <td class="col-sm-12 col-md-3"><%=months[i][j].toDateString().replace(/^\S+\s/,'')%></td>
                     <% 
                     let count = 0
                        for(let k=0; k<temp.length; k++){ //for 3
                          if(temp[k][0].checkin.toDateString().replace(/^\S+\s/,'')===months[i][j].toDateString().replace(/^\S+\s/,'')){
                            count +=1
                                }
                          }
                        if(count !==0 ){%>
                          <%// check in %>
                          <td class="col-sm-12 col-md-2">
                            <%
                          temp.forEach(tmp=>{

                            if(tmp[0].checkin.toDateString().replace(/^\S+\s/,'')===months[i][j].toDateString().replace(/^\S+\s/,'')){
                              tmp.forEach(tp=>{
                                const checkInTime = tp.checkin.getHours().toString() + ':' + tp.checkin.getMinutes().toString();
                                %>
                                <%=checkInTime%>
                                <br>
                                <%
                              })
                            }
                          })%>
                          </td>
                          <%// check in %>
                          <%// check out %>
                          <td class="col-sm-12 col-md-2">
                            <%
                          temp.forEach(tmp=>{
                            if(tmp[0].checkin.toDateString().replace(/^\S+\s/,'')===months[i][j].toDateString().replace(/^\S+\s/,'')){
                              tmp.forEach(tp=>{
                                let checkOutTime = 0
                                if (tp.checkout!== null){
                                  checkOutTime = tp.checkout.getHours().toString() + ':' + tp.checkout.getMinutes().toString();
                                }
                                else{
                                  checkOutTime = 0
                                }
                                %>
                                <%=checkOutTime%>
                                <br>
                                <%
                              })
                            }
                          })%>
                          </td>
                          <%// check out %>
                            <%
                        }
                        else {%>
                          <td class="col-sm-12 col-md-2">0</td>
                          <td class="col-sm-12 col-md-2">0</td>
                          <%
                        }
                      %>
                      <%// Time Counts + over Time%>
                        <%
                        if (count !== 0){
                          let timeCount = 0
                          let subTime = 0
                          let overTime = 0
                          %>
                          <td class="col-sm-12 col-md-2">
                            <%
                          temp.forEach(tmp=>{
                            if(tmp[0].checkin.toDateString().replace(/^\S+\s/,'')===months[i][j].toDateString().replace(/^\S+\s/,'')){
                              tmp.forEach(tp=> {
                                if(tp.checkout === null){
                                subTime +=0
                                }
                                else {
                                  subTime += tp.checkout-tp.checkin
                                }})
                                let minutes = Math.floor((subTime / (1000 * 60)) % 60);
                                let hours = Math.floor((subTime / (1000 * 60 * 60)) % 24);
                                 timeCount = hours + ":" + minutes
                                }
                              })
                              //overTime
                              let overSub= subTime - 8*60*60*1000
                              if(overSub>0){
                                overTime = Math.floor((overSub/(1000*60*60))%24) +":" +  Math.floor((overSub/(1000*60))%60)
                              }
                              else {
                                overTime = 0
                              }
                            %>
                            <%=timeCount%>
                            </td>
                            <td class="col-sm-12 col-md-2"><%=overTime%></td>
                            <%
                        } else {%>
                          <td class="col-sm-12 col-md-2">0</td>
                          <td class="col-sm-12 col-md-2">0</td>
                          <%}%>
                          <%// Time Counts + overTime%>
                          <%// Annual Leave%>
                       <% const annualHistory = user.progress.annual
                        let annualHour = 0
                        annualHistory.forEach(annualDates=>{
                            const annualReg = new Date(annualDates.annualDate)
                            if(annualReg.toDateString().replace(/^\S+\s/,'') === months[i][j].toDateString().replace(/^\S+\s/,'')){
                              annualHour = annualDates.annualTime/8
                          }
                        })
                        if(annualHour > 0 ){%>
                          <td class="col-sm-12 col-md-1"><%=annualHour%></td>
                        <%} else {%>
                          <td class="col-sm-12 col-md-1">0</td>
                        <%}
                        %>
                        <%// Annual Leave%>
                 </tr>
        <% } 
        //end for 2
      // end oop for day of month non-default
      // loop for day of month default
        } else { %>
        <tbody class="tab-pane fade show active" id="<%=tabName[i]%>" role="tabpanel" aria-labelledby="<%=tabName[i]%>-tab">
          <%// logic scope%>
          <% for(let j=0; j<months[i].length; j++){
             %>
                 <tr class="row">
                     <td class="col-sm-12 col-md-3"><%=months[i][j].toDateString().replace(/^\S+\s/,'')%></td>
                     <% 
                     let count = 0
                        for(let k=0; k<temp.length; k++){ 
                          if(temp[k][0].checkin.toDateString().replace(/^\S+\s/,'')===months[i][j].toDateString().replace(/^\S+\s/,'')){
                            count +=1
                                }
                          }
                        if(count !==0 ){%>
                          <%// check in %>
                          <td class="col-sm-12 col-md-2">
                            <%
                          temp.forEach(tmp=>{

                            if(tmp[0].checkin.toDateString().replace(/^\S+\s/,'')===months[i][j].toDateString().replace(/^\S+\s/,'')){
                              tmp.forEach(tp=>{
                                const checkInTime = tp.checkin.getHours().toString() + ':' + tp.checkin.getMinutes().toString();
                                %>
                                <%=checkInTime%>
                                <br>
                                <%
                              })
                            }
                          })%>
                          </td>
                          <%// check in %>
                          <%// check out %>
                          <td class="col-sm-12 col-md-2">
                            <%
                          temp.forEach(tmp=>{
                            if(tmp[0].checkin.toDateString().replace(/^\S+\s/,'')===months[i][j].toDateString().replace(/^\S+\s/,'')){
                              tmp.forEach(tp=>{
                                let checkOutTime = 0
                                if (tp.checkout!== null){
                                  checkOutTime = tp.checkout.getHours().toString() + ':' + tp.checkout.getMinutes().toString();
                                }
                                else{
                                  checkOutTime = 0
                                }
                                %>
                                <%=checkOutTime%>
                                <br>
                                <%
                              })
                            }
                          })%>
                          </td>
                          <%// check out %>
                            <%
                        }
                        else {%>
                          <td class="col-sm-12 col-md-2">0</td>
                          <td class="col-sm-12 col-md-2">0</td>
                          <%
                        }
                      %>
                      <%// Time Counts + over Time%>
                        <%
                        if (count !== 0){
                          let timeCount = 0
                          let subTime = 0
                          let overTime = 0
                          %>
                          <td class="col-sm-12 col-md-2">
                            <%
                          temp.forEach(tmp=>{
                            if(tmp[0].checkin.toDateString().replace(/^\S+\s/,'')===months[i][j].toDateString().replace(/^\S+\s/,'')){
                              tmp.forEach(tp=> {
                                if(tp.checkout === null){
                                subTime +=0
                                }
                                else {
                                  subTime += tp.checkout-tp.checkin
                                }})
                                let minutes = Math.floor((subTime / (1000 * 60)) % 60);
                                let hours = Math.floor((subTime / (1000 * 60 * 60)) % 24);
                                 timeCount = hours + ":" + minutes
                                }
                              })
                              //overTime
                              let overSub= subTime - 8*60*60*1000
                              if(overSub>0){
                                overTime = Math.floor((overSub/(1000*60*60))%24) +":" +  Math.floor((overSub/(1000*60))%60)
                              }
                              else {
                                overTime = 0
                              }
                            %>
                            <%=timeCount%>
                            </td>
                            <td class="col-sm-12 col-md-2"><%=overTime%></td>
                            <%
                        } else {%>
                          <td class="col-sm-12 col-md-2">0</td>
                          <td class="col-sm-12 col-md-2">0</td>
                          <%
                              }%>
                          <%// Time Counts + overTime%>
                          
                          <%// Annual Leave%>

                          <%  const annualHistory = user.progress.annual
                        let annualHour = 0
                        annualHistory.forEach(annualDates=>{
                            const annualReg = new Date(annualDates.annualDate)
                            if(annualReg.toDateString().replace(/^\S+\s/,'') === months[i][j].toDateString().replace(/^\S+\s/,'')){
                              annualHour = annualDates.annualTime/8
                          }
                        })
                        if(annualHour > 0 ){%>
                          <td class="col-sm-12 col-md-1"><%=annualHour%></td>
                        <%} else {%>
                          <td class="col-sm-12 col-md-1">0</td>
                        <%}
                        %>
                        <%// Annual Leave%>
                 </tr>
   <%
      }%>
      <%// logic scope%>
      </tbody>
      
  <%}
  // loop for day of month default
    }%>

  </table>



  <script>
      function buttonClick(){
        let call = document.getElementById('September')
        console.log(call)
        console.log(typeof call.length)
        // call.forEach(obj => {
        //   console.log(obj.outerText)
        // })
      }
 
  </script>
 
    

<%- include('layouts/footer') %>


