<%- include('layouts/header') %>
<%- include('layouts/navbar') %>
<script>
  function handleSearchWorkInfo(host) {
    // const host = process.env.BASE_URL_DOMAIN
    const currentPatch = window.location.pathname
    const generateParam = document.getElementById('selected_date').value
    window.location.replace(`${host}${currentPatch}?date=${generateParam}`)
  }
</script>
<span></span>
<hr>
<div class="container-fluid fixed ">
  <div class="row">
    <button type="button" class="btn btn-primary col-12 col-sm-3" data-bs-toggle="modal" data-bs-target="#searchWorkInfo">Work Info </button>
    <div class="col-12 col-sm-1"></div>
    <button type="button" class="btn btn-primary col-12 col-sm-3" data-bs-toggle="modal" data-bs-target="#searchSalary">Salary </button>
    <div class="col-12 col-sm-1"></div>
    <button type="button" class="btn btn-primary col-12 col-sm-3" data-bs-toggle="modal" data-bs-target="#covidSearch">Covid Infomation</button>
    <% //open modal to Search %>
    <!-- Modal work Search -->
    <div class="modal fade" id="searchWorkInfo" tabindex="-1" aria-labelledby="searchWorkInfoLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="searchWorkInfoLabel">Tìm kiếm lịch sử làm việc</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <label for="">
              <input type="date" id="selected_date"> Chọn ngày muốn tìm
            </label>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" onClick="handleSearchWorkInfo('<%= host %>')">Search</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Salary Search -->
    <div class="modal fade" id="searchSalary" tabindex="-1" aria-labelledby="searchSalaryLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="searchSalaryLabel">Lương tháng muốn xem</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <label for="">
              <input type="month"> Chọn lương tháng muốn xem
            </label>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Search</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal covid Search -->
    <div class="modal fade" id="covidSearch" tabindex="-1" aria-labelledby="covidSearchLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="covidSearchLabel">Thông tin covid</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <label for="">
              <input type="checkbox"> Thông tin chích vaccin
            </label>
            <label for="">
              <input type="checkbox"> Thông tin dương tính covid
            </label>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Search</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <% //open modal to Search %>

  </div>
  <hr>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <% const tabName=['January', 'February' , 'March' , 'April' , 'May' , 'June' , 'July' , 'August' , 'September'
          , 'October' , 'November' , 'December' ]; 
        const currentDate=new Date();
        const currentMonth=currentDate.getMonth();
        for(let i=0; i< tabName.length; i++){ 
          if (selectedMonth && selectedMonth==i + 1) { %>
            <a href="?page=<%=i+1%>" class="nav-link active" id="<%=tabName[i]%>-tab" aria-controls="<%=tabName[i]%>" aria-selected="true">
              <%=tabName[i]%>
              </a>
  
              <% continue;} 
              if(!selectedMonth && i===currentMonth){ %>
                <a href="?page=<%=i+1%>" class="nav-link active" id="<%=tabName[i]%>-tab" aria-controls="<%=tabName[i]%>" aria-selected="true">
                  <%=tabName[i]%>
                  </a>
                  <% continue; 
                } else { %>
                  <a href="?page=<%=i+1%>" class="nav-link" id="<%=tabName[i]%>-tab" aria-controls="<%=tabName[i]%>" aria-selected="false">
                    <%=tabName[i]%>
                    </a>
                    <%}
                  }%>
    </div>

      <% //Header%>
    <table class="tab-content row" id="nav-tabContent">
      <tr class="row">
        <th class="col-sm-12 col-md-2">Date</th>
        <th class="col-sm-12 col-md-2">Check In</th>
        <th class="col-sm-12 col-md-2">Check Out</th>
        <th class="col-sm-12 col-md-1">Space</th>
        <th class="col-sm-12 col-md-2">TimeCount</th>
        <th class="col-sm-12 col-md-2">Over Time</th>
        <th class="col-sm-12 col-md-1">Annual Register</th>
      </tr>
      <% //Header%>

        <tr class="row">
        <%workHistories.map((workHistory)=>{%>
          <tr class="row">
            <td><%=workHistory.date%></td>
            <td>
              <%workHistory.data.map((item)=> { %>
              <tr><%=item.checkIn%></tr>
           <% })%>
           </td>
           </tr>
        <%}) %>
      </tr>
        <tr class="row">
          <th class="col-sm-12 col-md-6 bg-success"> Total over Time</th>
          <td class="col-sm-12 col-md-6 bg-success">

          </td>
        </tr>
        <tr class="row">
          <th class="col-sm-12 col-md-6 bg-success">Total Annual time</th>
          <td class="col-sm-12 col-md-6 bg-success">

          </td>
        </tr>
        <tr class="row">
          <th class="col-sm-12 col-md-6 bg-warning"> Total incomplete time</th>
          <td class="col-sm-12 col-md-6 bg-warning">

          </td>
        </tr>
        <tr class="row">
          <th class="col-sm-12 col-md-6 bg-secondary"> Salary Formular</th>
          <td class="col-sm-12 col-md-6 bg-secondary">

          </td>
        </tr>
        <tr class="row">
          <th class="col-sm-12 col-md-6 bg-secondary"> Salary</th>
          <td class="col-sm-12 col-md-6 bg-secondary">

        </tr>
        <% //Calculator Table%>
      </tbody>

    </table>
    <input disabled value="Thông tin quản lý"></input>
    <br>
    <input disabled value="ID: "></input>
    <input disabled value="<%=adminId%>"></input>
    <br>
    <input disabled value="Name: "></input>
    <input disabled value="<%=adminName%>"></input>
  </div>
  <%- include('layouts/footer') %>